In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np


data=pd.read_csv(r"D:\machine_learning\data\dataset\train.csv")
test_data=pd.read_csv(r"D:\machine_learning\data\dataset\test.csv")
data.head()

,id,original_text,lang,retweet_count,original_author,sentiment_class
0,1.245025e+18,Happy #MothersDay to all you amazing mothers o...,en,0,BeenXXPired,0
1,1.245759e+18,Happy Mothers Day Mum - I'm sorry I can't be t...,en,1,FestiveFeeling,0
2,1.246087e+18,Happy mothers day To all This doing a mothers ...,en,0,KrisAllenSak,-1
3,1.244803e+18,Happy mothers day to this beautiful woman...ro...,en,0,Queenuchee,0
4,1.244876e+18,Remembering the 3 most amazing ladies who made...,en,0,brittan17446794,-1

In [3]:
data.isnull().sum()

id                 0
original_text      0
lang               4
retweet_count      4
original_author    0
sentiment_class    0
dtype: int64

In [4]:
test_data.isnull().sum()

id                 0
original_text      0
lang               0
retweet_count      1
original_author    0
dtype: int64

In [5]:
feature=pd.DataFrame()
feature["original_text"]=data["original_text"]

In [6]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer

lemmatizer=WordNetLemmatizer()
tokenizer=RegexpTokenizer(r"\w+")
stop_word=set(stopwords.words("english"))

In [7]:
updated_feature=[]
for sentence in feature["original_text"]:
    #tokenizing the sentence
    tokens=tokenizer.tokenize(sentence)
    #removing stopwords
    new_tokens=[]
    for word in tokens:
        if word not in stop_word:
            #lemmatizing the tokens
            word=word.lower()
            word=lemmatizer.lemmatize(word,pos="v")
            new_tokens.append(word)
    string=""
    for i in new_tokens:
        string=string+i+" "
    
    updated_feature.append(string)

In [8]:
feature=pd.DataFrame(updated_feature,columns=["original_text"])
feature.shape

(3235, 1)

In [9]:
feature.head()

                                       original_text
0  happy mothersday amaze mother i know hard able...
1  happy mother day mum i sorry i bring mother da...
2  happy mother day to this mother days work toda...
3  happy mother day beautiful woman royalty sooth...
4  remember 3 amaze ladies make i my late grandmo...

In [10]:
data["original_text"]=feature["original_text"]
data.head()

,id,original_text,lang,retweet_count,original_author,sentiment_class
0,1.245025e+18,happy mothersday amaze mother i know hard able...,en,0,BeenXXPired,0
1,1.245759e+18,happy mother day mum i sorry i bring mother da...,en,1,FestiveFeeling,0
2,1.246087e+18,happy mother day to this mother days work toda...,en,0,KrisAllenSak,-1
3,1.244803e+18,happy mother day beautiful woman royalty sooth...,en,0,Queenuchee,0
4,1.244876e+18,remember 3 amaze ladies make i my late grandmo...,en,0,brittan17446794,-1

In [11]:
for i in range(len(data)):
    if data["lang"][i] =="en":
        data["lang"][i]=1
    else:
        data["lang"][i]=0

In [12]:
data["lang"].value_counts()

1    2994
0     241
Name: lang, dtype: int64

In [13]:
data.drop(["id","original_author"],axis=1,inplace=True)

In [14]:
data.head()

,original_text,lang,retweet_count,sentiment_class
0,happy mothersday amaze mother i know hard able...,1,0,0
1,happy mother day mum i sorry i bring mother da...,1,1,0
2,happy mother day to this mother days work toda...,1,0,-1
3,happy mother day beautiful woman royalty sooth...,1,0,0
4,remember 3 amaze ladies make i my late grandmo...,1,0,-1

In [18]:
feauture=data["original_text"]

In [29]:
all_words=[]

for message in feature["original_text"]:
    words=word_tokenize(message)
    for w in words:
        all_words.append(w)
        

import nltk
all_words=nltk.FreqDist(all_words)
all_words.most_common(50)

[('mother', 4577),
 ('day', 3783),
 ('happy', 3463),
 ('com', 2603),
 ('twitter', 1707),
 ('mothersday', 1609),
 ('pic', 1578),
 ('i', 1298),
 ('https', 1133),
 ('love', 1093),
 ('mum', 1009),
 ('www', 899),
 ('p', 835),
 ('instagram', 835),
 ('b', 825),
 ('igshid', 818),
 ('mums', 708),
 ('today', 539),
 ('we', 438),
 ('us', 402),
 ('thank', 377),
 ('wish', 376),
 ('amaze', 337),
 ('time', 305),
 ('hope', 300),
 ('world', 273),
 ('you', 273),
 ('to', 270),
 ('mothersday2020', 258),
 ('wonderful', 258),
 ('one', 248),
 ('know', 245),
 ('make', 237),
 ('stay', 232),
 ('best', 230),
 ('beautiful', 227),
 ('celebrate', 226),
 ('get', 222),
 ('family', 218),
 ('like', 216),
 ('see', 215),
 ('safe', 214),
 ('happymothersday', 212),
 ('much', 210),
 ('everyone', 198),
 ('always', 196),
 ('lovely', 196),
 ('say', 187),
 ('go', 185),
 ('keep', 182)]

In [27]:
len(all_words)

13833