In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data=pd.read_csv(r"D:\machine_learning\Assignment\Module 10 Assisgnment - Dataset+Solution\Train.csv")
data.shape

(8844, 19)

In [4]:
data.head()

,ID,Office_PIN,Applicant_City_PIN,Applicant_Gender,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_Joining_Designation,Manager_Current_Designation,Manager_Grade,Manager_Status,Manager_Gender,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
0,FIN1000001,842001,844120,M,M,Others,Graduate,Level 1,Level 2,3.0,Confirmation,M,2.0,1.0,335249.0,28.0,335249.0,28.0,0
1,FIN1000002,842001,844111,M,S,Others,Class XII,Level 1,Level 2,3.0,Confirmation,M,2.0,1.0,335249.0,28.0,335249.0,28.0,1
2,FIN1000003,800001,844101,M,M,Business,Class XII,Level 1,Level 1,2.0,Confirmation,M,0.0,0.0,357184.0,24.0,357184.0,24.0,0
3,FIN1000004,814112,814112,M,S,Salaried,Class XII,Level 1,Level 3,4.0,Confirmation,F,0.0,0.0,318356.0,22.0,318356.0,22.0,0
4,FIN1000005,814112,815351,M,M,Others,Class XII,Level 1,Level 1,2.0,Confirmation,M,2.0,1.0,230402.0,17.0,230402.0,17.0,0

In [5]:
data.describe(include="all")

,ID,Office_PIN,Applicant_City_PIN,Applicant_Gender,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_Joining_Designation,Manager_Current_Designation,Manager_Grade,Manager_Status,Manager_Gender,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
count,8844,8844.000000,8844.000000,8791,8785,7754,8773,8844,8844,8844.000000,8844,8844,8844.000000,8844.000000,8.844000e+03,8844.000000,8.844000e+03,8844.000000,8844.000000
unique,8844,NaN,NaN,2,4,5,10,8,5,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,FIN1008104,NaN,NaN,M,M,Salaried,Class XII,Level 1,Level 2,NaN,Confirmation,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,6656,5733,3546,5426,4632,3208,NaN,5277,7627,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,450714.378562,452638.591022,NaN,NaN,NaN,NaN,NaN,NaN,3.264134,NaN,NaN,1.939733,0.758933,1.843710e+05,7.152307,1.829263e+05,7.131275,0.342718
std,NaN,234079.460837,238045.727919,NaN,NaN,NaN,NaN,NaN,NaN,1.137449,NaN,NaN,2.150529,1.188644,2.747163e+05,8.439351,2.718021e+05,8.423597,0.474645
min,NaN,110005.000000,110001.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.000000,0.000000,-2.652890e+05,0.000000,-2.652890e+05,0.000000,0.000000
25%,NaN,226001.000000,226002.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
50%,NaN,416001.000000,422001.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,1.000000,0.000000,1.021780e+05,5.000000,1.017140e+05,5.000000,0.000000
75%,NaN,695014.000000,695009.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,3.000000,1.000000,2.471165e+05,11.000000,2.464612e+05,11.000000,1.000000
max,NaN,851101.000000,995657.000000,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,22.000000,9.000000,3.578265e+06,101.000000,3.578265e+06,101.000000,1.000000

## Imputing missing values

In [6]:
data.isnull().sum()

ID                                0
Office_PIN                        0
Applicant_City_PIN                0
Applicant_Gender                 53
Applicant_Marital_Status         59
Applicant_Occupation           1090
Applicant_Qualification          71
Manager_Joining_Designation       0
Manager_Current_Designation       0
Manager_Grade                     0
Manager_Status                    0
Manager_Gender                    0
Manager_Num_Application           0
Manager_Num_Coded                 0
Manager_Business                  0
Manager_Num_Products              0
Manager_Business2                 0
Manager_Num_Products2             0
Business_Sourced                  0
dtype: int64

In [7]:
temp=data[["Applicant_Gender","Applicant_Marital_Status","Applicant_Occupation","Applicant_Qualification"]]

In [8]:
temp.head()

,Applicant_Gender,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification
0,M,M,Others,Graduate
1,M,S,Others,Class XII
2,M,M,Business,Class XII
3,M,S,Salaried,Class XII
4,M,M,Others,Class XII

#### Filling the mmissing values of  Applicant Gender

In [9]:
data["Applicant_Gender"].value_counts()

M    6656
F    2135
Name: Applicant_Gender, dtype: int64

In [10]:
data["Applicant_Gender"].fillna("M",inplace=True)

#### Filling the missing values of Applicant Marital status

In [11]:
data["Applicant_Marital_Status"].value_counts()

M    5733
S    3042
W       6
D       4
Name: Applicant_Marital_Status, dtype: int64

In [12]:
data["Applicant_Marital_Status"].fillna("M",inplace=True)

#### Filling the Applicant Occupation

In [13]:
data["Applicant_Occupation"].value_counts()

Salaried         3546
Business         2157
Others           1809
Self Employed     146
Student            96
Name: Applicant_Occupation, dtype: int64

In [14]:
data["Applicant_Occupation"].fillna("Salaried",inplace=True)

In [15]:
data["Applicant_Qualification"].value_counts()

Class XII                                                           5426
Graduate                                                            2958
Class X                                                              195
Others                                                               116
Masters of Business Administration                                    71
Associate / Fellow of Institute of Chartered Accountans of India       3
Associate/Fellow of Institute of Company Secretories of India          1
Associate/Fellow of Insurance Institute of India                       1
Professional Qualification in Marketing                                1
Associate/Fellow of Acturial Society of India                          1
Name: Applicant_Qualification, dtype: int64

In [16]:
data["Applicant_Qualification"].fillna("Class XII",inplace=True)

In [17]:
data.isnull().sum()

ID                             0
Office_PIN                     0
Applicant_City_PIN             0
Applicant_Gender               0
Applicant_Marital_Status       0
Applicant_Occupation           0
Applicant_Qualification        0
Manager_Joining_Designation    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_Status                 0
Manager_Gender                 0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business               0
Manager_Num_Products           0
Manager_Business2              0
Manager_Num_Products2          0
Business_Sourced               0
dtype: int64

## Dealing with categorical variables

In [19]:
data.dtypes

ID                              object
Office_PIN                       int64
Applicant_City_PIN               int64
Applicant_Gender                object
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Manager_Joining_Designation     object
Manager_Current_Designation     object
Manager_Grade                  float64
Manager_Status                  object
Manager_Gender                  object
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
Business_Sourced                 int64
dtype: object

In [31]:
data.columns

Index(['ID', 'Office_PIN', 'Applicant_City_PIN', 'Applicant_Gender',
       'Applicant_Marital_Status', 'Applicant_Occupation',
       'Applicant_Qualification', 'Manager_Joining_Designation',
       'Manager_Current_Designation', 'Manager_Grade', 'Manager_Status',
       'Manager_Gender', 'Manager_Num_Application', 'Manager_Num_Coded',
       'Manager_Business', 'Manager_Num_Products', 'Manager_Business2',
       'Manager_Num_Products2', 'Business_Sourced'],
      dtype='object')

In [32]:
categorical_variable=["Applicant_Gender","Applicant_Marital_Status","Applicant_Occupation","Applicant_Qualification","Manager_Joining_Designation",
           "Manager_Current_Designation","Manager_Status","Manager_Gender"]

categorical_variable

['Applicant_Gender',
 'Applicant_Marital_Status',
 'Applicant_Occupation',
 'Applicant_Qualification',
 'Manager_Joining_Designation',
 'Manager_Current_Designation',
 'Manager_Status',
 'Manager_Gender']

In [33]:
for i in categorical_variable:
    print("Value Count in ",i)
    print(data[i].value_counts())
    print("\n")

Value Count in  Applicant_Gender
M    6709
F    2135
Name: Applicant_Gender, dtype: int64


Value Count in  Applicant_Marital_Status
M    5792
S    3042
W       6
D       4
Name: Applicant_Marital_Status, dtype: int64


Value Count in  Applicant_Occupation
Salaried         4636
Business         2157
Others           1809
Self Employed     146
Student            96
Name: Applicant_Occupation, dtype: int64


Value Count in  Applicant_Qualification
Class XII                             5497
Graduate                              2965
Class X                                195
Others                                 116
Masters of Business Administration      71
Name: Applicant_Qualification, dtype: int64


Value Count in  Manager_Joining_Designation
Level 1    4632
Level 2    2787
Level 3    1146
Level 4     200
Other        58
Level 6      18
Level 7       2
Level 5       1
Name: Manager_Joining_Designation, dtype: int64


Value Count in  Manager_Current_Designation
Level 2    3208
Level 1    2479
Level 3    2033
Level 4    1031
Level 5      93
Name: Manager_Current_Designation, dtype: int64


Value Count in  Manager_Status
Confirmation    5277
Probation       3567
Name: Manager_Status, dtype: int64


Value Count in  Manager_Gender
M    7627
F    1217
Name: Manager_Gender, dtype: int64

In [35]:
data["Applicant_Qualification"].replace({"Associate / Fellow of Institute of Chartered Accountans of India":"Graduate",
                                        "Associate/Fellow of Institute of Company Secretories of India":"Graduate",
                                        "Associate/Fellow of Insurance Institute of India":"Graduate",
                                        "Professional Qualification in Marketing":"Graduate",
                                        "Associate/Fellow of Acturial Society of India":"Graduate"},inplace=True)

In [38]:
data.drop("ID",axis=1,inplace=True)

In [39]:
data.head()

,Office_PIN,Applicant_City_PIN,Applicant_Gender,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_Joining_Designation,Manager_Current_Designation,Manager_Grade,Manager_Status,Manager_Gender,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
0,842001,844120,M,M,Others,Graduate,Level 1,Level 2,3.0,Confirmation,M,2.0,1.0,335249.0,28.0,335249.0,28.0,0
1,842001,844111,M,S,Others,Class XII,Level 1,Level 2,3.0,Confirmation,M,2.0,1.0,335249.0,28.0,335249.0,28.0,1
2,800001,844101,M,M,Business,Class XII,Level 1,Level 1,2.0,Confirmation,M,0.0,0.0,357184.0,24.0,357184.0,24.0,0
3,814112,814112,M,S,Salaried,Class XII,Level 1,Level 3,4.0,Confirmation,F,0.0,0.0,318356.0,22.0,318356.0,22.0,0
4,814112,815351,M,M,Others,Class XII,Level 1,Level 1,2.0,Confirmation,M,2.0,1.0,230402.0,17.0,230402.0,17.0,0

In [44]:
data=pd.get_dummies(data)
data.head()

,Office_PIN,Applicant_City_PIN,Manager_Grade,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced,...,Manager_Joining_Designation_Other,Manager_Current_Designation_Level 1,Manager_Current_Designation_Level 2,Manager_Current_Designation_Level 3,Manager_Current_Designation_Level 4,Manager_Current_Designation_Level 5,Manager_Status_Confirmation,Manager_Status_Probation,Manager_Gender_F,Manager_Gender_M
0,842001,844120,3.0,2.0,1.0,335249.0,28.0,335249.0,28.0,0,...,0,0,1,0,0,0,1,0,0,1
1,842001,844111,3.0,2.0,1.0,335249.0,28.0,335249.0,28.0,1,...,0,0,1,0,0,0,1,0,0,1
2,800001,844101,2.0,0.0,0.0,357184.0,24.0,357184.0,24.0,0,...,0,1,0,0,0,0,1,0,0,1
3,814112,814112,4.0,0.0,0.0,318356.0,22.0,318356.0,22.0,0,...,0,0,0,1,0,0,1,0,1,0
4,814112,815351,2.0,2.0,1.0,230402.0,17.0,230402.0,17.0,0,...,0,1,0,0,0,0,1,0,0,1

## Implementing Logistic Regression

#### Identifying feature and target variable

In [46]:
feature=data.drop("Business_Sourced",axis=1)
target=data["Business_Sourced"]

#### Dividing data into train set and test set

In [59]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(feature,target,random_state=90,stratify=target,test_size=0.2)

#### Importing Logistic Regression

In [62]:
from sklearn.linear_model import LogisticRegression as LR
from sklearn.metrics import auc,f1_score
from sklearn.metrics import roc_auc_score
model=LR()
model.fit(train_x,train_y)
train_predict=model.predict(train_x)
model.score(train_x,train_y)

0.6573851590106007

In [63]:
test_predict=model.predict(test_x)
model.score(test_x,test_y)

0.6574335782928208

In [64]:
roc_auc_score(train_y,train_predict)

0.5002061855670104

In [65]:
roc_auc_score(test_y,test_predict)

0.5

#### Importing Decision Tree

In [95]:
from sklearn.tree import DecisionTreeClassifier as DT
dt=DT(max_depth=13)

In [96]:
dt.fit(train_x,train_y)
dt_train_predict=dt.predict(train_x)
dt.score(train_x,train_y)

0.7860070671378092

In [97]:
dt_test_predict=dt.predict(test_x)
dt.score(test_x,test_y)

0.6302996042962126

#### Importing KNN

In [102]:
from sklearn.neighbors import KNeighborsClassifier as KNN
knn=KNN(n_neighbors=)

In [103]:
knn.fit(train_x,train_y)
knn_train_predict=knn.predict(train_x)
knn.score(train_x,train_y)

0.6979505300353357

In [104]:
knn_test_predict=knn.predict(test_x)
knn.score(test_x,test_y)

0.6325607687959299