In [9]:
import pandas as pd
data=pd.read_excel("historical_data.xlsx")
data.head()

  symbol   date_txn  close_price  predicted_price
0    AAL 2014-12-02        47.55            47.93
1    AAL 2014-12-03        47.93            49.33
2    AAL 2014-12-04        49.33            50.68
3    AAL 2014-12-05        50.68            50.50
4    AAL 2014-12-08        50.50            48.00

In [10]:
data.dtypes

symbol                     object
date_txn           datetime64[ns]
close_price               float64
predicted_price           float64
dtype: object

In [11]:
data["date_txn"].dt.year.head()

0    2014
1    2014
2    2014
3    2014
4    2014
Name: date_txn, dtype: int64

In [12]:
data["date_txn"].dt.month.head()

0    12
1    12
2    12
3    12
4    12
Name: date_txn, dtype: int64

In [13]:
data["date_txn"].dt.day.head()

0    2
1    3
2    4
3    5
4    8
Name: date_txn, dtype: int64

In [15]:
data["date_txn"].dt.weekday_name.head()

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'