In [1]:
import pandas as pd
import numpy as np
import nltk as nl
from matplotlib import pyplot as plt

In [3]:
posts=pd.read_csv(r"D:\machine_learning\data\Mldata\posts.csv")
users=pd.read_csv(r"D:\machine_learning\data\Mldata\users.csv")
views=pd.read_csv(r"D:\machine_learning\data\Mldata\views.csv")

In [5]:
users.head()

                        _id                  name gender      academics
0  5d60098a653a331687083238  Nivesh Singh Chauhan   male  undergraduate
1  5d610ae1653a331687083239         Gaurav Sharma   male       graduate
2  5d618359fc5fcf3bdd9a0910         Akshay Mishra   male  undergraduate
3  5d6d2bb87fa40e1417a49315        Saksham Mathur   male  undergraduate
4  5d7c994d5720533e15c3b1e9         Varun Chowhan   male  undergraduate

In [28]:
posts.head()

,_id,title,category,post_type
0,5d62abaa65218653a132c956,hello there,Plant Biotechnology,blog
1,5d6d39567fa40e1417a4931c,Ml and AI,Artificial Intelligence|Machine Learning|Infor...,blog
2,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog
3,5d7d405e5720533e15c3b1f3,Lord Shiva,Drawings,artwork
4,5d80dfbc6c53455f896e600e,How Competition law evolved?,Competition Laws,blog

In [30]:
users.shape,posts.shape

((118, 4), (493, 4))