Hackathon

In [1]:
import pandas as pd

In [4]:
pd.read_csv(r"C:\Users\Pankaj kumar shah\Downloads\Mnist Image data\train.csv")

        filename  label
0          0.png      4
1          1.png      9
2          2.png      1
3          3.png      7
4          4.png      3
...          ...    ...
48995  48995.png      2
48996  48996.png      4
48997  48997.png      9
48998  48998.png      3
48999  48999.png      0

[49000 rows x 2 columns]